/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&family=Comfortaa:wght@300..700&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');




/* cssreset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* layout */

body {
	font-family: "Roboto", "Noto Sans TC", sans-serif;
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

.container-full,
.container,
.container-sm {
	max-width: 1296px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.section-title {
	color: #650300;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 48px;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: white;
}

.section-padding {
	padding: 80px 0;
}

/* flex */
.d-flex {
	display: flex;
}


/* page */
header {
	background-color: #AA0601;
	color: white;
}

header>div {
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}

.logo {
	width: 80px;
	height: 48px;
}

.nav li {
	margin-left: 64px;
}

.banner {
	background-image: url(./img/home-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 296px 0;
}

.banner>div {
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.banner p {
	font-size: 36px;
	color: #650300;
	margin-left: auto;
}

.banner h1 {
	font-size: 64px;
	font-weight: 700;
	color: #650300;
}

.btn {
	background-color: #AA0601;
	padding: 6px 12px;
	width: auto;
}

.light-bg {
	background-color: #FBF2F2;
}

.feature>div {
	flex-direction: column;
	align-items: center;
}

.feature-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature-img {
	width: 84px;
	margin-bottom: 24px;
}

.feature-card h3 {
	font-size: 24px;
	font-weight: bold;
	color: #650300;
	margin-bottom: 8px;
}

.card-column {
	width: 25%;
	padding: 0 12px;
	margin-top: -24px;
}

.card-row {
	/* 外距負值抵銷卡片容器產生的左右空間 */
	margin: 0 -12px;
	flex-wrap: wrap;
}

.g-list {
	flex-direction: column;
	align-items: center;
}

.card-text {
	font-size: 48px;
	font-weight: 900;
	font-style: italic;
	color: #AA0601;
	margin-top: 8px;
	text-align: center;
}

.g-list-column {
	max-width: 33.33333%;
	padding: 0 12px;
}

.g-list-row {
	/* 外距負值抵銷卡片容器產生的左右空間 */
	margin: 0 -12px;
	flex-wrap: wrap;
}

.design {
	background-image: url(./img/index-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.design .section-title {
	color: white;
}

.design-column {
	width: 50%;
}

.design .card-text {
	margin: 0;
	background-color: white;
}

.feedback {
	flex-direction: column;
	align-items: center;
}

.feedback-row {
	/* 外距負值抵銷卡片容器產生的左右空間 */
	margin: 0 -12px;
	flex-wrap: wrap;
}

.feedback-card-text {
	box-shadow: 0 2px 6px #00000029;
	border: 1px solid #DEE2E6;
	padding: 16px;
	height: 100%;
	min-height: 205px;
	/* margin-top: auto;在彈性flex中才會有作用 */
	display: flex;
	flex-direction: column;
}

.feedback-card-text span {
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

.feedback-column {
	width: 25%;
	padding: 0 12px;
	border-radius: 4px;
}

.feedback-card p {
	font-size: 16px;
	color: #000;
	margin-top: 8px;
}

.feedback-card time {
	font-size: 14px;
	color: #707070;
	margin-top: auto;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact form {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.contact form p {
	font-size: 24px;
	margin-bottom: 24px;
}


.contact form div {
	margin-bottom: 16px;
}

.contact .checkbox {
	margin-bottom: 48px;
}


.contact form input[type=text],
.contact form input[type=tel],
.contact form input[type=email],
.contact form textarea {
	padding: 6px 12px;
	width: 99%;
	display: block;
	margin-top: 8px;
}

input::placeholder {
	font-weight: 400;
}



.contact form textarea {
	resize: none;
}

.contact button {
	background-color: #AA0601;
	border: none;
	color: white;
	width: 75%;
	font-size: 16px;
	padding: 16px 0;
	margin: auto;
}

footer {
	background-color: #AA0601;
}

footer>div {
	flex-direction: column;
}

.data {
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 48px 0;
}

.data .nav li {
	margin-left: 0;
	margin-right: 48px;
}

.tel,
.mail {
	display: flex;
	align-items: center;
}

.tel a,
.tel span,
.mail a,
.mail span {
	font-size: 36px;
}

.tel span,
.mail span {
	margin-right: 22px;
}

.tel {
	margin-top: 24px;
	margin-bottom: 8px;
}

.social_media {
	gap: 32px;
}

.social_media img {
	width: 48px;
}

.copyright {
	display: flex;
	justify-content: space-between;
	color: white;
	border-top: 1px solid white;
	padding: 32px 0;

}

.copyright ul {
	width: 100%;
}

.copyright li:first-child {
	margin-right: auto;
	margin-left: 0;
}

.copyright li {
	margin-left: 48px;
}

@media (max-width:576px) {
	.container-full {
		width: auto;
	}

	.container {
		padding: 0 12px;
	}

	.section-title {
		font-size: 24px;
		margin-bottom: 24px;
	}

	.section-padding {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.banner {
		background-image: url(./img/home-header-sm.png);
	}

	.logo {
		margin: 16px 12px;
	}

	header .nav {
		flex-wrap: wrap;
		width: 100%;
	}

	header .nav li {
		margin-left: 0px;
		width: 50%;
		text-align: center;
		border: white 1px solid;
		padding: 24px 15px;
	}


	header>div {
		flex-direction: column;
		align-items: flex-start;
		padding: 0px 0;
	}

	.banner p {
		font-size: 16px;
	}

	.banner h1 {
		font-size: 24px;
	}

	.btn {
		font-size: 20px;
		margin-top: 8px;
	}

	.card-column {
		width: 100%;
		margin-top: 0;
	}

	.g-list-column {
		max-width: 100%;
		padding: 0;
		margin-bottom: 24px;
	}

	.design-row {
		flex-wrap: wrap;
	}

	.design-column {
		width: 100%;
		margin-bottom: 24px;
	}

	.feedback-column {
		width: 100%;
		margin-bottom: 16px;
	}

	.contact form {
		width: 100%;
	}

	.contact button {
		width: 100%;
		padding: 16px 142px;
	}

	footer .nav {
		display: none;
	}

	.bar {
		flex-direction: column;
	}

	.data {
		margin: 24px 0;
	}

	.social_media {
		gap: 8px;
	}

	.social_media img {
		width: 24px;
	}

	.tel span,
	.mail span {
		font-size: 18px;
		margin-right: 10px;
	}

	.tel a,
	.mail a {
		font-size: 16px;
	}

	.tel {
		margin: 0;
	}

	.copyright{
		flex-direction: column;
		flex-wrap: wrap;
		padding: 16px 0;
		gap: 8px;
	}

	.copyright a{
		font-size: 16px;
	}

	.copyright li{
		font-size: 16px;
		margin: 0;
	}

}